node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

.DS_Store
#amplify
amplify/
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
awsConfig.js